<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <!-- <style>
        div.cell{
            width: 50px;
            height: 50px;
            display: inline-block;
        }
    </style> -->
</head>
<body>
    
    {% for i in range(0, row) %}
        <div class="row">
            {% for j in range(0, column) %}
                {% if (i+j)%2 != 0: %} 
                    <div class="cell" style="background-color: {{ col1 }}"></div>
                {% else: %}
                    <div class="cell" style="background-color: {{ col2 }}"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

</body>
</html>